/* -----------------------------------------
 GLOBAL
----------------------------------------- */
html,
body {
	min-height: 100%;
}

body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #EEEEEE;
	color: #303030;
}

/* -----------------------------------------
 CONTAINER
----------------------------------------- */
.container {
	margin: 27px auto 0;
	padding: 21px 0;
	width: 615px;
	height: 615px;
	background-color: #DEC8AE;
}

/* -----------------------------------------
 CHESS
----------------------------------------- */
.chess {
	position: relative;
	margin: auto;
	width: 578px;
	height: 578px;
	border: 1px solid #000;
	font-size: 0;
}

.cell {
	float: left;
	width: 72px;
	height: 72px;
}

.number-area {
	position: absolute;
	top: 26px;
	left: -11px;
	width: 10px;
	height: 72px;
	border: 0;
	font-size: 16px;
	color: #000;
}

.number-area p {
	height: 72px;
}

.letter-area {
	position: absolute;
	top: -20px;
	left: 31px;
	font-size: 16px;
	border: 0;
}

.letter-area span {
	display: inline-block;
	width: 36px;
	margin-right: 32px;
}

.chess .letter-area span:last-child {
	margin-right: 0;
}

/* -----------------------------------------
 CELLS COLORS
----------------------------------------- */
.cell:nth-child(even) {
	background-color: black;
}
.cell:nth-child(odd) {
	background-color: white;
}
.cell:nth-child(n+9):nth-child(odd) {
	background-color: black;
}
.cell:nth-child(n+9):nth-child(even) {
	background-color: white;
}
.cell:nth-child(n+17):nth-child(even) {
	background-color: black;
}
.cell:nth-child(n+17):nth-child(odd) {
	background-color: white;
}
.cell:nth-child(n+25):nth-child(odd) {
	background-color: black;
}
.cell:nth-child(n+25):nth-child(even) {
	background-color: white;
}
.cell:nth-child(n+33):nth-child(even) {
	background-color: black;
}
.cell:nth-child(n+33):nth-child(odd) {
	background-color: white;
}
.cell:nth-child(n+41):nth-child(odd) {
	background-color: black;
}
.cell:nth-child(n+41):nth-child(even) {
	background-color: white;
}
.cell:nth-child(n+49):nth-child(even) {
	background-color: black;
}
.cell:nth-child(n+49):nth-child(odd) {
	background-color: white;
}
.cell:nth-child(n+57):nth-child(odd) {
	background-color: black;
}
.cell:nth-child(n+57):nth-child(even) {
	background-color: white;
}


/* BLACK CHECKERS */
.row-1 {
	position: absolute;
	top: 7px;
	left: 80px;
}

.row-2 {
	position: absolute;
	top: 78px;
	left: 8px;
}

.row-3 {
	position: absolute;
	top: 149px;
	left: 80px;
}

/* WHITE CHECKERS */
.row-8 {
	position: absolute;
	bottom: 8px;
	left: 9px;
}

.row-7 {
	position: absolute;
	bottom: 81px;
	left: 81px;
}

.row-6 {
	position: absolute;
	bottom: 153px;
	left: 9px;
}

.checker {
	float: left;
	margin-right: 89px;
}

.checker:last-child {
	margin-right: 0;
}

.black,
.white {
	width: 55px;
	height: 55px;
	border: 2px solid #999;
	border-radius: 50%;
}

.black {
	background-color: black;
	-webkit-box-shadow: 0 0 0 1px white;
	box-shadow: 0 0 0 1px white;
}

.white {
	background-color: #B9292B;
	-webkit-box-shadow: 0 0 0 1px #ccc;
	box-shadow: 0 0 0 1px #ccc;
}

